.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Body {
  background-color: #282c34;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.8);
}

.Login {
  text-align: center;
  background-color: #282c34;
  flex: 1 1 auto;
  color: white;
}

.flex-auto {
  flex: auto;
}

/* .mainBody {
  margin: 2px 4px 2px 4px;
} */

img {
  min-width: 100px;
  max-width: 1000px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}